<app-nav></app-nav>

<div class="dashboard-container">
  <mat-grid-list cols="3" rowHeight="250px" gutterSize="24px">
    
    <!-- Carte des Produits -->
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Manage products</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h2>{{ totalProduits }}</h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="primary-btn" [routerLink]="['/produit']">View Products</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Manage Orders</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h2>{{ totalCommandes }}</h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="primary-btn" [routerLink]="['/order']">See Orders</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    
   
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Generate Reports</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>View Reports</h3>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="primary-btn" [routerLink]="['/report']">View Reports</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>Using AI Forecasting</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button class="primary-btn" [routerLink]="['/ai']">AI Predictions</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
  
  </mat-grid-list>
</div>
